@model JogoModel

<h1>Resultado</h1>
<p>Você escolheu: @Model.JogadorEscolha</p>
<p>O computador escolheu: @Model.ComputadorEscolha</p>
<p>Resultado: @Model.Resultado</p>

<a href="/Jokenpo">Jogar novamente</a>